body{
background-color:darkslategray;
font-family:"Parkinsans";
color:aliceblue;
}

footer{
    background-color:aqua;
    color:rgb(8, 34, 56);
    bottom:0;
    position:fixed;
    width:100%;
    height:2rem;
}
footer p{
text-align:center;
font-size:3rem;
margin-top:0.5rem;
}